CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.test.*
.cache
.idea
.clang-format
build
cmake-build-debug
libTypeCopilot.so
result.txt
result-di.txt
a.out
*.ll
*.log
*.csv

eval/*.csv
eval/*.txt
__pycache__
*.ql
data/
data-baseline/
data-typecopilot
*.tar.gz
bc/
*.dump
.vscode/
venv
bc_with_src/